.thumbnailContainer {
  position: relative;
  width: 285px;
  height: 285px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 16px;
}
.thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-image: var(--thumbnail);
  background-size: cover;
  background-position: top;
}

.bottomOverlay {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;

  color: #fff;
}

.bottomOverlay:hover {
  transition: 0.4s;
  background-color: #00000080;
}

.bottomOverlay > span {
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  opacity: 0;
}

.bottomOverlay:hover > span {
  transition: 0.4s;
  opacity: 1;
  display: block;
}

.card {
  display: flex;
  width: 285px;
  height: 285px;
  gap: 10px;

  flex-direction: column;
  align-items: center;
}

.cardList {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.work {
  font-size: 22px;
  font-weight: 700;
}

.GuestList {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1500px) {
  .cardList {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.8s;
  }

  .card {
    display: flex;
    width: 30%;
    height: 30%;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .thumbnailContainer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 16px;
    transition: 0.8s;
  }
}

@media (max-width: 1200px) {
  .cardList {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.8s;
  }

  .card {
    display: flex;
    width: 48%;
    gap: 10px;
    height: 48%;
    flex-direction: column;
    align-items: center;
  }
  .thumbnailContainer {
    position: relative;
    width: 100%;
    height: 330px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 16px;
    transition: 0.8s;
  }
}

@media (max-width: 800px) {
  .cardList {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    display: flex;
    width: 100%;
    gap: 10px;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .thumbnailContainer {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 16px;
    transition: 0.8s;
  }
}
