.Concept {
  height: 900px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.leftVideo {
  flex: 1;
}

.leftVideo img {
  width: 1200px;
  position: absolute;
  transform: translate(-10%);
}

.rightConcept {
  flex: 1;
  box-sizing: border-box;
  font-family: "Pretendard";
}

.textBox {
  width: 580px;
}

.textBox * {
  margin: 0;
}

.rightConcept h4 {
  font-size: 28px;
  color: var(--P1);
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 40px !important;
}

.rightConcept h3 {
  font-size: 28px;
  color: var(--P1);
  margin-bottom: 40px;
  line-height: 180%;
}

.rightConcept p {
  color: var(--G8);
  font-size: 14px;
  font-weight: 300;
  line-height: 180%;
}

/* 각 섹션 공통 */
.Section {
  width: 100vw;
  padding-bottom: 160px;
  font-family: "Pretendard";
}

/* typo */
.sectionTitle {
  font-size: 18px;
  color: var(--P1);
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.sectionTitle:nth-child(4) {
  margin-top: 160px;
}

.typo .images {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 160px;
}

.typo .images img:nth-child(1) {
  width: 322px;
}

.typo .images img:nth-child(2) {
  width: 484px;
}

/* Design_system */
.sys > .images > p {
  font-weight: 600;
  font-size: 18px;
  color: var(--P1);
  text-align: center;
  margin-bottom: 40px;
}

.sys img {
  display: block;
  margin: auto;
}

.sys .fontarea {
  margin-top: 70px;
  color: #666666;
  display: flex;
  gap: 106px;
  justify-content: center;
  font-weight: 400;
  transform: translate(-20px);
}

.sys .fontarea * {
  line-height: 180%;
}

.sys .KoPub,
.Preten {
  display: flex;
  gap: 40px;
  font-size: 12px;
}

.smallTitle {
  font-size: 12px;
}

.title {
  font-size: 16px;
  line-height: 140%;
}

.first div {
  display: flex;
  flex-direction: column;
}
.sys p {
  margin: 0px;
}

.first .title {
  font-weight: 600;
}

.second div {
  display: flex;
  flex-direction: column;
}

.second div {
  margin-bottom: 20px;
}

.second div:nth-child(1) {
  font-weight: 300;
}
.second div:nth-child(2) {
  font-weight: 500;
}
.second div:nth-child(3) {
  font-weight: 700;
}

/* Symbol */
.guide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guide img {
  width: 626px;
}
.guide span {
  font-size: 16px;
  color: var(--P1);
  margin-top: 4px;
}
.eledef {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 80px;
}
.eledef > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.eledef > div span {
  color: var(--P1);
}

/* Variation */
.var .grid {
  display: grid;
  gap: 0px 66px;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  text-align: center;
  width: 1000px;
  margin: auto;
  align-items: stretch;
  justify-items: stretch;
  color: #333333;
  transform: translate(-90px);
}
.var .grid > div > h4 {
  margin: 0px;
  font-size: 24px;
  font-weight: 400;
}

.var .grid > div > span {
  font-weight: 400;
  line-height: 180%;
}

.var .grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leftTitle {
  color: var(--P1);
  font-size: 18px;
  justify-self: end;
}

/* 이미지 크기 조절 */

.var .grid img {
  width: 100%;
}

/* mockup */
.moc {
  padding-bottom: 0px;
}
.moc .grid {
  width: 100%;
  height: 100vh;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
  grid-template-areas:
    "c b e h"
    "a b d h";
}

.moc .grid div {
}

.moc .grid div {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.moc .grid div:nth-child(1) {
  grid-area: c;
  background-image: url("../Img/mock1.png");
}
.moc .grid div:nth-child(2) {
  grid-area: b;
  background-image: url("../Img/mock5.png");
  background-size: cover;
  background-position: 50% -200%;
}
.moc .grid div:nth-child(3) {
  grid-area: a;
  background-image: url("../Img/mock2.png");
}
.moc .grid div:nth-child(4) {
  grid-area: e;
  background-image: url("../Img/mock4.png");
}
.moc .grid div:nth-child(5) {
  grid-area: d;
  background-image: url("../Img/mock3.png");
}
.moc .grid div:nth-child(6) {
  grid-area: h;
  background-image: url("../Img/mock6.png");
  background-position: 70% 50%;
}

/* credit */
.credit_area {
  margin-top: 140px;
}
.credit_area_section {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}

.credit_area_section h4 {
  font-size: 36px;
  color: var(--P1);
  font-weight: 500;
  margin-bottom: 40px !important;
}

.credit_area_section div {
  display: flex;
  gap: 24px;
  font-size: 20px;
  color: #666666;
  font-weight: 400;
}
.professor {
  gap: 42px !important;
}

.professor span {
  width: 52px;
}

.Graduation:not(:last-child) {
  margin-bottom: 20px;
}
.professor:nth-child(2) {
  margin-bottom: 20px;
}

.Flex {
  width: 73px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textSpace {
  letter-spacing: 0.5px;
}

.Graduation > span:nth-child(1) {
  margin-right: 18px;
}

/* section_title.jsx */
.Section_title {
  background: linear-gradient(to right, var(--P1) 36%, #ffffff71);
  width: 100%;
  height: 82px;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}

.Section_title span {
  font-family: "Pretendard";
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  min-width: 1200px;
  margin: auto;
}
