.page_Wrapper {
  /* width: 1200px; */
  min-height: calc(900px - 72px);
  height: auto;
  margin: 72px auto 0px;

  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.Page_SecondWrapper {
  position: relative;
  width: var(--web1200);
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  gap: 240px;
}

.InnerContainer {
  position: relative;
  width: var(--web1200);
  height: 100%;
  padding-top: 56px;
  display: flex;
}

h3 {
  font-size: 24px;
  color: var(--G11);
  margin: 48px 0px 36px;
}

.nothing {
  width: 100%;
  position: absolute;
  top: 50%;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: var(--G4);
  opacity: 0.5;
}

.wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper > span {
  min-width: 72px;
  color: var(--G6);
  font-weight: 700;
  font-size: 18px;
}

.wrapper > p {
  color: var(--G11);
  text-align: right;
  font-weight: 700;
}

.head {
  display: flex;
  align-items: center;
  gap: 24px;
}

.goback > span {
  font-size: 36px !important;
  color: var(--G11);
  margin: 48px 0px 36px;
  cursor: pointer;
}

.GuestContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: var(--web1200);
  height: 100%;
}

.writeContainer {
  position: sticky;
  display: flex;
  height: 100%;
  top: 85px;
  flex-direction: column;
}

.videoContainer {
  width: 100%;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.btnContainer {
  width: 570px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.CardCon {
  width: 600px;
  height: auto;
}
@media (max-width: 1500px) {
  .Page_SecondWrapper {
    position: relative;
    width: var(--web1000);
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 240px;
  }

  .InnerContainer {
    position: relative;
    width: var(--web1000);
    height: 100%;
    padding-top: 56px;
    display: flex;
  }
}

@media (max-width: 1200px) {
  .Page_SecondWrapper {
    position: relative;
    width: var(--web800);
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 240px;
  }

  .InnerContainer {
    position: relative;
    width: var(--web800);
    height: 100%;
    padding-top: 56px;
    display: flex;
  }
}
