.page_Wrapper {
  /* width: 1200px; */
  min-height: calc(900px - 72px);
  height: 100%;
  margin: 72px auto 0px;

  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overflow {
  overflow-x: hidden;
}

.Page_SecondWrapper {
  position: relative;
  width: var(--web1200);
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  gap: 240px;
}

.InnerContainer {
  position: relative;
  width: var(--web1200);
  height: 100%;
  padding-top: 56px;
  display: flex;
}

h3 {
  font-size: 24px;
  color: var(--G11);
  margin: 48px 0px 36px;
}

.nothing {
  width: 100%;
  position: absolute;
  top: 50%;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: var(--G4);
  opacity: 0.5;
}

.wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper > span {
  min-width: 72px;
  color: var(--G6);
  font-weight: 700;
  font-size: 18px;
}

.wrapper > p {
  color: var(--G11);
  text-align: right;
  font-weight: 700;
}

.head {
  display: flex;
  align-items: center;
  gap: 24px;
}

.goback > span {
  font-size: 36px !important;
  color: var(--G11);
  margin: 48px 0px 36px;
  cursor: pointer;
}

.GuestContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: var(--web1200);
  height: 100%;
  padding-top: 80px;
}

.writeContainer {
  position: sticky;
  display: flex;
  height: 100%;
  top: 85px;
  flex-direction: column;
}

.videoContainer {
  width: 100%;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.btnContainer {
  width: 570px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
h5 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
.CardCon {
  width: 100%;
  height: auto;
}
.major,
.email {
  font-size: 16;
}
.comment {
  font-size: 18px;
  color: var(--P1);
  margin: 48px 0px 0px;
}
.profile {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
}

.profile > p {
  margin: 0;
}

h6 {
  margin: 0;
  color: var(--P1);
  margin-top: 32px;
  font-size: 20px;
}

.pfst {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.pfst > span {
  font-size: 16px;
  font-weight: 600;
}

.profileContainer {
  width: 590px;
  height: 595px;
}
.name {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.img {
  width: 450px;
  height: 595px;
  background-image: var(--src);
  background-size: cover;
}

@media (max-width: 1500px) {
  .Page_SecondWrapper {
    position: relative;
    width: var(--web1000);
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 240px;
  }

  .InnerContainer {
    position: relative;
    width: var(--web1000);
    height: 100%;
    padding-top: 56px;
    display: flex;
  }

  .GuestContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: var(--web1000);
    height: 100%;
    padding-top: 80px;
  }
  .btnContainer {
    width: calc(570px * 3 / 4);
    margin-top: calc(40px * 3 / 4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .Page_SecondWrapper {
    position: relative;
    width: var(--web800);
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 240px;
  }

  .GuestContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: var(--web800);
    height: 100%;
    padding-top: 80px;
  }

  .InnerContainer {
    position: relative;
    width: var(--web800);
    height: 100%;
    padding-top: 56px;
    display: flex;
  }

  .btnContainer {
    width: calc(570px * 3 / 4);
    margin-top: calc(40px * 3 / 4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
