* ::-webkit-scrollbar {
  width: 8px;
  background-color: var(--G1);
}

* ::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: var(--G5);
  border-radius: 99px;
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: var(--G6);
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Pretendatd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}
textarea {
  text-align: justify;
}

:root {
  /*accent*/
  --P1: #3775bb;
  --P2: #30639e;
  --tertiary: #ff7171;

  /*grayscale*/
  --G11: #333333;
  --G10: #666666;
  --G9: #777777;
  --G8: #8d8d8d;
  --G7: #4a4d5e;
  --G6: #83858f;
  --G5: #bcbcc2;
  --G4: #d4d4d4;
  --G3: #ededed;
  --G2: #fafafa;
  --G1: #ffffff;
  --G1op: #ffffff60;

  /*gradient bg*/
  --grad1: linear-gradient(
    271.53deg,
    rgba(52, 55, 72, 0.6) 0.22%,
    rgba(84, 90, 106, 0.6) 100%
  ); /*Category Clicked*/
  --grad2: linear-gradient(
    271.53deg,
    rgba(52, 55, 72, 0.6) 0.22%,
    rgba(84, 90, 106, 0.6) 100%
  ); /*AnnounceHead bg*/
  --grad3: linear-gradient(
    180deg,
    rgba(20, 20, 21, 0) 0%,
    #14141580 80%
  ); /*Card Hover*/

  /*Semantic (information, success, caution, error)*/
  --sem-bl: #516df6;
  --sem-gr: #33d486;
  --sem-yl: #ffc73c;
  --sem-rd: #ff5c46;

  /*FloatButton.module.css*/
  --FB: rgba(43, 47, 61, 0.9);

  /*TextInput.module.css*/
  --TI: rgba(255, 255, 255, 0.8);

  --web1200: 1200px;
  --web1000: 1064px;
  --web800: 704px;
  --webmobiled: 343px;
  --grid-col-l: 4;
  --grid-col-m: 3;
  --grid-col-s: 2;
}
 